<div class="grid grid-cols-1 gap-y-4 m-auto md:gap-y-0 lg:grid-cols-2 xxl:grid-cols-3">
	{% for card in fields.cards %}
    <a href="{{ card.link.url }}" class="group card relative flex justify-between border-[1px] border-solid border-white h-64 p-4 no-underline hover:bg-primary md:p-8 md:h-72">
      <div class="card-content flex flex-col w-2/3">
        <h3 class="font-sans font-bold text-xl text-primary mt-0 pt-0 group-hover:text-black lg:text-2xl">{{ card.title }}</h3>
        <div class="flex flex-col justify-between h-full text-white group-hover:text-black">
          <p>{{ card.content }}</p>
          <button href="{{ card.link.url }}" class="group/button flex items-center gap-6 w-full mt-auto"><span>{{ card.link.title }}</span><i class="fa-solid fa-arrow-right-long text-2xl group-hover/button:translate-x-3 ease-in-out transition-all duration-300"></i></button>
        </div>
      </div>
      <div class="pt-4">
        <div class="card-image flex items-center justify-center bg-offwhite rounded-full max-w-[6rem] max-h-[6rem] p-4 box-border overflow-hidden">
          <img src="{{ card.image }}" alt="{{ card.image.alt }}" class="h-full w-full object-contain">
        </div>
      </div>
      <div class="diamond group-hover:bg-white"></div>
    </a>
  {% endfor %}
</div>
