<div class="grid grid-cols-1 gap-y-4 m-auto md:gap-y-0 lg:grid-cols-2 xxl:grid-cols-3">
	{% for card in fields.cards %}
    <a href="{{ card.link.url }}" class="group card relative flex justify-between border-[1px] border-solid border-white h-64 p-4 no-underline hover:bg-primary md:p-8 md:h-72">
      <div class="card-content flex flex-col w-2/3">
        <h3 class="font-sans font-bold text-xl text-primary mt-0 pt-0 group-hover:text-black lg:text-2xl">{{ card.title }}</h3>
        <div class="flex flex-col justify-between h-full text-white group-hover:text-black">
          <p>{{ card.content }}</p>
          <button href="{{ card.link.url }}" class="group/button flex items-center gap-6 w-full mt-auto">
            <span>{{ card.link.title }}</span>
            <svg stroke="currentColor" fill="#fff" stroke-width="0" viewBox="0 0 16 16" class="group-hover:translate-x-4 transition-all ease-in-out duration-300" height="1.5em" width="1.5em" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="pt-4">
        <div class="card-image flex items-center justify-center bg-offwhite rounded-full max-w-[6rem] max-h-[6rem] p-4 box-border overflow-hidden">
          <img src="{{ card.image }}" alt="{{ card.image.alt }}" class="h-full w-full object-contain">
        </div>
      </div>
      <div class="diamond group-hover:bg-white"></div>
    </a>
  {% endfor %}
</div>
