<div class="{{ classes }} column space-y-6 content-center {% if fields.hidden %}{% for hide in fields.hidden %}{{ hide.value }}{% endfor %}{% endif %} {% if fields.show %}{% for shown in fields.show %}{{ shown.value }}{% endfor %}{% endif %}{% if fields.max_width %}{% for width in fields.max_width %}{{ width }}{% endfor %}{% else %} w-full{% endif %} bg-cover bg-center bg-no-repeat bg-blend-multiply xl:{{ fields.width }}" style="{% if fields.bg_image %}background-image:url('{{ fields.bg_image }}')]{% endif %}">
	<InnerBlocks />
</div>
